@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-2">Witaj w BasketApp!</h3>
    <h2 class="display-3">Witaj w świecie koszykówki!</h2>
    <br/>
    
    <img src="images/ball.png"/>

</div>
